brotli==1.0.9
chardet==4.0.0
cryptography==36.0.1
Cython==0.29.27
dl==0.1.0
ipaddr==2.2.0
keyring==23.5.0
mock==4.0.3
mypy_extensions==0.4.3
numpy==1.22.2
ordereddict==1.1
protobuf==3.19.4
pyOpenSSL==22.0.0
simplejson==3.17.6
textblob==0.17.1
TwitterSearch==1.0.2
twython==3.9.1
unicodedata2==14.0.0
wincertstore==0.2.1
